:root {
    --milkMedium: #f8eebc;
    --milkLight: #fff9e5;
    --brown: #786951;
    --greenMedium: #88c9a1;
    --green: #68b893;
    --greenLight: #a4d4a2;
    --softPink: #febdc3;
    --pink: #ef758a;
    --salmon: #ff7c69;
    --lightBlue: #7cc9c3;
    --mint: #8ecfca;
    --turquoise: #017c74;
    --yellow: #f7d359;
    --lightYellow: #fcea64;
}

@font-face {
    font-family: 'FinkHeavy';
    src: local('./resources/1579-fink-heavy-1361523207.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'nintendoP_Humming-E_002pr';
    src: local('./resources/nintendoP_Humming-E_002pr.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@media (max-width: 1024px) {
    body {
        background-image: url('./img/bgoppacity.png');
        background-repeat: repeat;
        background-size: cover;
        position: relative;
    }
    .leftDiv {
        display: none;
    }
    .headDiv {
        margin: 0 auto;
        align-items: center;
        align-content: center;
        text-align: center;
        padding: 1.5rem;
        justify-content: center;
        border-radius: 100%;
    }
   .headDiv .logo {
        width: 30%;
        
   }
  .rightDiv  .nook {
        font-family: 'FinkHeavy';
        color: var(--green);
        font-size: xx-large;
        font-weight: bolder;
        text-shadow: none;
    }
.rightDiv{
    width: auto;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}
    .midDiv {
        background-color: var(--pink);
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 1rem;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        border-radius: 2rem;
        height: 20rem;
    }
    .midDiv .welcome {
        margin-top: 0.5rem;
        font-family: 'FinkHeavy';
        font-size: x-large;
        color: var(--milkMedium);
    }
    .midDiv .userInput,
    .passInput {
        text-decoration: none;
        appearance: none;
        width: 70%;
        border: 0;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 0.3rem;
        color: var(--green);
    }
     ::placeholder {
        color: var(--green);
        opacity: 70%;
    }
    .userInput {
        margin-top: 1rem;
    }
    .midDiv .loginButton {
        text-decoration: none;
        appearance: none;
        width: 60%;
        height: 3rem;
        border: none;
        text-transform: uppercase;
        font-family: 'nintendoP_Humming-E_002pr';
        background-color: var(--lightBlue);
        color: var(--milkLight);
        border-radius: 0.5rem;
        font-size: 0.8rem;
        margin: 0 auto;
    }
    .loginButton:hover {
        background-color: var(--milkLight);
        color: var(--mint);
    }
    .midDiv .googleLogin {
        display: inline-block;
        background: skyblue;
        color: var(--milkLight);
        width: auto;
        border-radius: 5px;
        text-decoration: none;
        appearance: none;
        border: none;
        padding: 0.6rem;
        font-family: 'nintendoP_Humming-E_002pr';
        display: inline-block;
        white-space: nowrap;
        font-size: x-small;
        height: 2rem;
        
    }
    .googleLogin:hover {
        color: skyblue;
        background-color: var(--milkLight);
    }
    .footDiv {
        background-color: var(--milkMedium);
        margin: 0 auto;
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        border-radius: 0.5rem;
        
       
    }
    .footDiv .element {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 0.5rem;
        color: var(--milkMedium);
    }
    footer a:hover {
        color: var(--salmon);
    }
}
.element p{
    font-size: 15px;
    color: #017C74;
}

.element h4{
    font-size: 20px;
    color: #FF7C69;
}