* {
    margin: 0;
    padding: 0;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.login {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #FFF9E5;
    background-image: url('img/bnook.jpg');
    background-size: cover;
}

.onlyScreen {
    width: 35%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.onlyScreen .imgNooks {
    padding: 50px;
    width: 28vw;
    margin-top: 45%;
}

.wat {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8%;
}

.body {
    height: 420px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.781);
    border-radius: 5%;
}

.temporal {
    top: 25%;
    left: 62%;
    position: absolute;
    align-items: center;
    text-align: center;
}

body {
    background-color: antiquewhite;
}