@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --milkMedium: #f8eebc;
    --milkLight: #fff9e5;
    --brown: #786951;
    --greenMedium: #88c9a1;
    --green: #68b893;
    --greenLight: #a4d4a2;
    --softPink: #febdc3;
    --pink: #ef758a;
    --salmon: #ff7c69;
    --lightBlue: #7cc9c3;
    --mint: #8ecfca;
    --turquoise: #017c74;
    --yellow: #f7d359;
    --lightYellow: #fcea64;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--milkLight);
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.contDivLogin {
    background-image: url('./img/bgoppacity.png');
    background-size: contain;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.leftDiv {
    width: 35%;
    height: 100vh;
    background-color: #ffffff;
}

.leftDiv .imgLeft {
    padding: 2.188rem;
    width: 31vw;
    margin-top: 40%;
}

.rightDiv {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 1.8rem;
}

.headDiv {
    align-items: center;
    text-align: center;
    padding-top: 5%;
}

.headDiv .logo {
    width: 25%;
}

.headDiv .nook {
    font-family: 'FinkHeavy';
    font-size: 55px;
    font-weight: bold;
    color: #68B893;
    text-shadow: 3px 3px #3b3b3b94;
}

.midDiv {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    height: 13.7rem;
    width: 31.2rem;
    background-color: white;
    -webkit-box-shadow: 0px 14px 5px -4px rgba(195, 199, 199, 1);
    -moz-box-shadow: 0px 14px 5px -4px rgba(195, 199, 199, 1);
    box-shadow: 0px 14px 5px -4px rgba(195, 199, 199, 1);
    border-radius: 55px;
    align-items: center;
    text-align: center;
    padding: 5%;
}

.midDiv .welcome {
    font-family: 'FinkHeavy';
    font-size: 35px;
    color: #017C74;
}

.midDiv .userInput,
.passInput {
    font-family: 'Finger Paint';
    color: rgba(0, 0, 0, 0.507);
    text-align: center;
    height: 25px;
    width: 15.6rem;
    border: 1px solid rgba(87, 87, 87, 0.63);
    border-radius: 20px;
    outline: none;
}

::placeholder {
    color: rgba(54, 51, 51, 0.39);
}

.midDiv .loginButton {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgb(248, 248, 248);
    background-color: #8ECFCA;
    text-align: center;
    height: 1.8rem;
    width: 12.5rem;
    border: 1px solid #8ECFCA;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.loginButton:hover {
    background-color: rgba(95, 175, 95, 0.678);
}

.midDiv .googleLogin {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.904);
    width: 11.8rem;
    height: 1.5rem;
    border: 1px solid #66626298;
    outline: none;
    text-align: center;
    background-image: url('img/googleicon.png');
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position: left;
    cursor: pointer;
}

.googleLogin:hover {
    background-color: rgba(219, 216, 216, 0.747);
}

.footDiv {
    text-align: center;
}

.footDiv .element {
    appearance: none;
    text-decoration: none;
    background: none;
    cursor: pointer;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.element p {
    font-size: 15px;
    color: #017C74;
}

.element h4 {
    font-size: 20px;
    color: #FF7C69;
}


/*WALL*/

.wallContainer {
    display: flex;
    justify-content: center;
}

.navContainer {
    display: flex;
    background-color: var(--mint);
    height: 4rem;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    background-color: var(--milkLight);
    padding-top: 5rem;
    height: 100vh;
    grid-gap: 2rem;
    padding-bottom: 900px;
}

.divImg .imgNook {
    padding-left: 0.5rem;
    width: 10%;
}

.navContainer .logoutButton {
    width: 10rem;
    margin-left: 41rem;
    font-family: 'Finger Paint';
    font-size: 18px;
    color: var(--milkLight);
    border: none;
    background: var(--turquoise);
    cursor: pointer;
}

.logoutButton:hover {
    background-color: rgba(93, 109, 94, 0.747);
}

#formId {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--lightBlue);
    padding: 2rem;
    height: 10rem;
}

#formId textarea {
    appearance: none;
    text-decoration: none;
    border-color: var(--mint);
    border-width: 0.01rem;
    border-radius: 0.4rem;
    width: 45rem;
    height: 10rem;
    align-self: center;
    outline: none;
}

#formId .postButton {
    width: 6rem;
    margin-top: 1rem;
    appearance: none;
    border: none;
    text-decoration: none;
    background-color: var(--pink);
    color: var(--milkMedium);
    padding: 0.4rem;
    border-radius: 0.5rem;
}

.bodyContainer .inputPost {
    height: 2rem;
    width: 10rem;
}

.navMobile {
    display: none;
}

.postContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: var(--mint);
    margin-bottom: 5rem;
    border-radius: 0.3rem;
}

.individualPost {
    background-color: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-top: 2rem;
    text-align: center;
    padding-top: 0.5rem;
    font-family: 'Finger Paint';
    width: 45rem;
    height: 8rem;
}

.containerButton {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem;
    width: 44rem;
    height: 3rem;
    cursor: pointer;
}

.editClassButton,
.deleteClassButton {
    width: 5rem;
    height: 1.5rem;
    appearance: none;
    border: none;
    text-decoration: none;
    background-color: var(--pink);
    color: var(--milkMedium);
    border-radius: 0.5rem;
}