@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.contDivLogin {
    background-image: url('./img/bgoppacity.png');
    background-size: contain;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.leftDiv {
    width: 35%;
    height: 100vh;
    background-color: #ffffff;
}

.leftDiv .imgLeft {
    padding: 2.188rem;
    width: 31vw;
    margin-top: 40%;
}

.rightDiv {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 1.8rem;
}

.headDiv {
    align-items: center;
    text-align: center;
    padding-top: 5%;
}

.headDiv .logo {
    width: 25%;
}

.headDiv .nook {
    font-family: 'FinkHeavy';
    font-size: 55px;
    font-weight: bold;
    color: #68B893;
    text-shadow: 3px 3px #3b3b3b94;
}

.midDiv {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    height: 13.7rem;
    width: 31.2rem;
    background-color: white;
    -webkit-box-shadow: 0px 14px 5px -4px rgba(195, 199, 199, 1);
    -moz-box-shadow: 0px 14px 5px -4px rgba(195, 199, 199, 1);
    box-shadow: 0px 14px 5px -4px rgba(195, 199, 199, 1);
    border-radius: 55px;
    align-items: center;
    text-align: center;
    padding: 5%;
}

.midDiv .welcome {
    font-family: 'FinkHeavy';
    font-size: 35px;
    color: #017C74;
}

.midDiv .userInput,
.passInput {
    font-family: 'Finger Paint';
    color: rgba(0, 0, 0, 0.507);
    text-align: center;
    height: 25px;
    width: 15.6rem;
    border: 1px solid rgba(87, 87, 87, 0.63);
    border-radius: 20px;
    outline: none;
}

::placeholder {
    color: rgba(54, 51, 51, 0.39);
}

.midDiv .loginButton {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgb(248, 248, 248);
    background-color: #8ECFCA;
    text-align: center;
    height: 1.8rem;
    width: 12.5rem;
    border: 1px solid #8ECFCA;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.loginButton:hover {
    background-color: rgba(95, 175, 95, 0.678);
}

.midDiv .googleLogin {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.904);
    width: 11.8rem;
    height: 1.5rem;
    border: 1px solid #66626298;
    outline: none;
    text-align: center;
    background-image: url('img/googleicon.png');
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position: left;
    cursor: pointer;
}

.googleLogin:hover {
    background-color: rgba(219, 216, 216, 0.747);
}

.footDiv {
    text-align: center;
}

.footDiv .element {
    appearance: none;
    text-decoration: none;
    background: none;
    cursor: pointer;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.element p {
    font-size: 15px;
    color: #017C74;
}

.element h4 {
    font-size: 20px;
    color: #FF7C69;
}