:root {
    --milkMedium: #f8eebc;
    --milkLight: #fff9e5;
    --brown: #786951;
    --greenMedium: #88c9a1;
    --green: #68b893;
    --greenLight: #a4d4a2;
    --softPink: #febdc3;
    --pink: #ef758a;
    --salmon: #ff7c69;
    --lightBlue: #7cc9c3;
    --mint: #8ecfca;
    --turquoise: #017c74;
    --yellow: #f7d359;
    --lightYellow: #fcea64;
}

@font-face {
    font-family: 'FinkHeavy';
    src: local('./resources/1579-fink-heavy-1361523207.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'nintendoP_Humming-E_002pr';
    src: local('./resources/nintendoP_Humming-E_002pr.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}


/*Pantalla Inicio*/

@media (max-width: 1024px) {
    .contDivLogin {
        height: 100vh;
        background-image: url('./img/bgoppacity.png');
        background-repeat: repeat;
        background-size: cover;
        position: relative;
    }
    .leftDiv {
        display: none;
    }
    .headDiv {
        margin: 0 auto;
        align-items: center;
        align-content: center;
        text-align: center;
        padding: 1.5rem;
        justify-content: center;
        border-radius: 100%;
    }
    .headDiv .logo {
        width: 30%;
    }
    .rightDiv .nook {
        font-family: 'FinkHeavy';
        color: var(--green);
        font-size: xx-large;
        font-weight: bolder;
        text-shadow: none;
    }
    .rightDiv {
        width: auto;
        align-items: center;
        align-content: center;
        margin: 0 auto;
    }
    .midDiv {
        background-color: var(--pink);
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 1rem;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        border-radius: 2rem;
        height: 20rem;
    }
    .midDiv .welcome {
        margin-top: 0.5rem;
        font-family: 'FinkHeavy';
        font-size: x-large;
        color: var(--milkMedium);
    }
    .midDiv .userInput,
    .passInput {
        text-decoration: none;
        appearance: none;
        width: 70%;
        border: 0;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 0.3rem;
        color: var(--green);
    }
     ::placeholder {
        color: var(--green);
        opacity: 70%;
    }
    .userInput {
        margin-top: 1rem;
    }
    .midDiv .loginButton {
        text-decoration: none;
        appearance: none;
        width: 60%;
        height: 3rem;
        border: none;
        text-transform: uppercase;
        font-family: 'nintendoP_Humming-E_002pr';
        background-color: var(--lightBlue);
        color: var(--milkLight);
        border-radius: 0.5rem;
        font-size: 0.8rem;
        margin: 0 auto;
    }
    .loginButton:hover {
        background-color: var(--milkLight);
        color: var(--mint);
    }
    .midDiv .googleLogin {
        display: inline-block;
        background: skyblue;
        color: var(--milkLight);
        width: auto;
        border-radius: 5px;
        text-decoration: none;
        appearance: none;
        border: none;
        padding: 0.6rem;
        font-family: 'nintendoP_Humming-E_002pr';
        display: inline-block;
        white-space: nowrap;
        font-size: x-small;
        height: 2rem;
    }
    .googleLogin:hover {
        color: skyblue;
        background-color: var(--milkLight);
    }
    .footDiv {
        background-color: var(--milkMedium);
        margin: 0 auto;
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        border-radius: 0.5rem;
    }
    .footDiv .element {
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 0.5rem;
        color: var(--milkMedium);
    }
    footer a:hover {
        color: var(--salmon);
    }
}

.element p {
    font-size: 15px;
    color: #017C74;
}

.element h4 {
    font-size: 20px;
    color: #FF7C69;
}


/*Pantalla Muro*/

@media (max-width: 1024px) {
    body {
        background-color: var(--milkLight);
    }
    .navContainer {
        display: flex;
        position: relative;
        height: auto;
        width: 100%;
    }
    .navContainer .logoutButton {
        appearance: none;
        border: none;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        padding-right: 1rem;
        font-size: small;
        background-image: url("./img/exiticon.png");
        background-repeat: no-repeat;
        background-size: 1.3rem;
        background-position: left;
        border-radius: 0.5rem;
        background-color: var(--mint);
        color: var(--milkMedium);
        font-weight: bold;
        cursor: pointer;
        margin-left: 13rem;
        font-family: sans-serif;
    }
    .divImg .imgNook {
        width: 3rem;
        margin-left: 1rem;
        margin-top: 0.3rem;
    }
    .bodyContainer {
        display: grid;
        grid-template-columns: 1;
        justify-content: center;
        background-color: var(--milkLight);
        width: 100vw;
        height: 100vh;
        position: absolute;
        padding-left: auto;
        padding-right: auto;
    }
    #formId {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: var(--lightBlue);
        padding: 3rem;
        height: 6rem;
        width: 16rem;
        border-radius: 0.4rem;
    }
    #formId textarea {
        appearance: none;
        text-decoration: none;
        border-color: var(--mint);
        border-width: 0.01rem;
        border-radius: 0.4rem;
        min-width: 150px;
        max-width: 500px;
        width: 14rem;
        height: 18rem;
        align-self: center;
        outline: none;
        padding: 1rem;
    }
    #formId .postButton {
        width: auto;
        margin-top: 0.5rem;
        appearance: none;
        border: none;
        text-decoration: none;
        background-color: var(--pink);
        color: var(--milkMedium);
        padding: 0.4rem;
        border-radius: 0.5rem;
    }
    .postContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-bottom: 80px;
    }
    .postContainer .individualPost {
        background-color: white;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        margin-top: 2rem;
        text-align: center;
        padding-top: 0.5rem;
        font-family: 'nintendoP_Humming-E_002pr';
        width: 19rem;
        height: 5rem;
    }
    .containerButton {
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        padding: 0.5rem;
        width: 18rem;
        height: 3rem;
    }
    .editClassButton,
    .deleteClassButton {
        width: 5rem;
        height: 1.5rem;
        appearance: none;
        border: none;
        text-decoration: none;
        background-color: var(--pink);
        color: var(--milkMedium);
        border-radius: 0.5rem;
    }
    .navMobile {
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 10;
        bottom: 0;
        background-color: var(--pink);
        justify-content: space-between;
        margin: 0 auto;
        padding: 0.5rem;
    }
    .navMobile .imgChat,
    .imgSearch {
        width: 10%;
    }
    .imgHome {
        appearance: none;
        border: none;
        padding-left: 1.5rem;
        padding-right: 1rem;
        font-size: small;
        background-image: url("./img/homeprofile.png");
        background-repeat: no-repeat;
        background-size: 2.2rem;
        background-position: left;
        text-align-last: right;
        border-radius: 0.5rem;
        background-color: var(--pink);
        color: var(--milkMedium);
        font-weight: bold;
        cursor: pointer;
    }
    .imgProfile {
        appearance: none;
        border: none;
        padding-left: 1.5rem;
        padding-right: 1rem;
        font-size: small;
        background-image: url("./img/porfileicon.png");
        background-repeat: no-repeat;
        background-size: 2.1rem;
        background-position: left;
        text-align-last: right;
        border-radius: 0.5rem;
        background-color: var(--pink);
        color: var(--milkMedium);
        font-weight: bold;
        cursor: pointer;
    }
}